
<div class="overlay">
  <div class="alert-container">
    <div class="alert alert-warning">
      <!-- Formulario de inicio de sesión -->
      <form (submit)="RegistrarUsuario()">
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Registrarse</h2>

              <table>
                <tr>
                  <td><label for="nombre">Nombre:</label></td>
                  <td><input type="text" id="nombre" name="nombre" [(ngModel)]="nombre"></td>
                </tr>
                <tr>
                  <td><label for="apellido">Apellido Paterno:</label></td>
                  <td><input type="text" id="apellido" name="apellido" [(ngModel)]="ape_paterno"></td>
                </tr>
                <tr>
                  <td><label for="apellido">Apellido Materno:</label></td>
                  <td><input type="text" id="apellido" name="apellido" [(ngModel)]="ape_materno"></td>
                </tr>
                <tr>
                  <td><label for="correo">Correo :</label></td>
                  <td><input type="email" id="correo" name="correo" [(ngModel)]="correo"></td>
                </tr>
                <tr>
                  <td><label for="username">Nombre de usuario:</label></td>
                  <td><input type="text" id="username" name="username" [(ngModel)]="usuario"></td>
                </tr>
                <tr>
                  <td><label for="password">Contraseña:</label></td>
                  <td><input type="password" id="password" name="password" [(ngModel)]="contrasena"></td>
                </tr>
                <tr>
                  <td><label for="password">DNI:</label></td>
                  <td><input type="password" id="password" name="password" [(ngModel)]="dni"></td>
                </tr>
              </table>
              <div class="form-group d-flex justify-content-between;">
                <a href="/reserva-index/0" mat-raised-button color="primary">Salir</a>
                <button style="margin: 1% 0px 0px 2px;" type="submit" mat-raised-button color="primary">Iniciar Sesión</button>
              </div>

            <p class="signup-link">¿Ya tienes una cuenta? <a href="/login/0">Inicia sesion!!</a></p>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>



<div class="overlay" *ngIf="mostrarAlerta">
  <div class="alert-container">
    <div class="alert alert-warning">
      <p>Error al validar los datos Revise las credenciales o intentelo e nuevo mas tarde</p>
      <button class="btn btn-primary" (click)="Cerrar()">ok</button>

    </div>
  </div>
</div>
