<div>
  <div>
    <div class="testimonios-titulos">
      <h1>Testimonios</h1>
    </div>
    <div>
      <a>
        <div class="testimonios">
          <h5 class="testimonios-nombres">
            Missael Berrospi Chávez
          </h5>
          <aside class="testimonios-texto">
            "Este hotel es simplemente impresionante. Las vistas son espectaculares y las
            instalaciones son de primera clase. El personal es muy amable y servicial, y
            la comida en el restaurante del hotel es deliciosa. Sin duda recomendaría este
            hotel a cualquiera que busque una experiencia de lujo en la zona".
           </aside>
           <div class="reset"></div>
        </div>
      </a>
      <a>
        <div class="testimonios">
          <h5 class="testimonios-nombres">
            Celso Machuca García
          </h5>
          <aside class="testimonios-texto">
            "Mi estancia en este hotel fue maravillosa. El personal fue muy amable y servicial,
            y las habitaciones eran cómodas y limpias. Además, la ubicación del hotel es perfecta,
            ya que está cerca de muchos lugares de interés turístico. Definitivamente volvería
            a hospedarme aquí".
          </aside>
          <div class="reset"></div>
        </div>
      </a>
      <a>
        <div class="testimonios">
          <h5 class="testimonios-nombres">
            Jefferson Gutierrez Urbizagastegui
          </h5>
          <aside class="testimonios-texto">
            "Este hotel superó mis expectativas. Las instalaciones son modernas y bien cuidadas, y
            el personal es muy atento y servicial. Además, la comida en el restaurante del hotel es
            deliciosa. Sin duda recomendaría este hotel a cualquiera que visite la zona".
          </aside>
          <div class="reset"></div>
        </div>
      </a>
      <a>
        <div class="testimonios">
          <h5 class="testimonios-nombres">
            Franklin Cruz Hurtado
          </h5>
          <aside class="testimonios-texto">
            "Mi familia y yo tuvimos una estancia increíble en este hotel. Las habitaciones eran
            amplias y cómodas, y el personal hizo todo lo posible para asegurarse de que tuviéramos
            una experiencia agradable. Además, la ubicación del hotel es perfecta para explorar la zona.
            Definitivamente volveremos".
          </aside>
          <div class="reset"></div>
        </div>
      </a>
      <a>
        <div class="testimonios">
          <h5 class="testimonios-nombres">
            Reiner Alayo Raury
          </h5>
          <aside class="testimonios-texto">
          "Mi estancia en La Estancia Hotel fue excepcional. El personal fue muy amable y servicial,
          y la habitación Premium era realmente buena. La cama era excepcional, enorme, maravillosamente
          cómoda y las instalaciones del hotel eran de primera clase. Además, la ubicación del hotel
          es perfecta, con vistas impresionantes y fácil acceso a la playa.
          </aside>
          <div class="reset"></div>
        </div>
      </a>
    </div>
  </div>
</div>

<footer>
  <div class="redes-sociales">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="titulo-pagina">
    Reserva tu viaje
  </div>
  <div class="datos-contacto">
    Dirección: Mz c Lote 2 Hijos de Lamud
    <br>
    Teléfono: (123) 456-7890
    <br>
    Correo Electrónico: reservas@reservaviaje.com
  </div>
  <div class="derechos-reservados">
    Derechos Reservados &copy; 2023
  </div>
</footer>
