.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.alert-container {
  background: #fff; /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
  padding: 20px;
}

.alert {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button[type="submit"] {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor sobre el botón */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscurecido con opacidad */
  z-index: 9999; /* Z-index alto para que esté por encima de todo */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;

}

/* Estilos para la alerta */
.alert-container {
  max-width: 400px;
  text-align: center;

}

.alert-container p {
  margin: 0;
  font-size: 18px;
}

.alert-container button {
  margin-top: 10px;
}
.custom-table {
  max-width: 90%;
  margin: 0 auto;
  font-size: 14px;
}
