<div class="todo-lugares">
  <div class="contenedor-lugares">
    <div class="uno">
      <div class="lugares">
        <h1>La Estancia Hotel te está esperando</h1>
        <p>
          La Estancia es un hotel que busca la comodidad y la tranquilidad
          para que nuestros huéspedes se puedan reconectar. Estando a menos
          de 2 km. de La Laguna de Huacachina, el Oasis de América,
          aprovechamos las bellezas que ofrece el desierto de Ica para que,
          junto con nuestro servicio, nuestros huéspedes tengan una estadía
          inolvidable.
        </p>
      </div>
      <div class="img-lugares">
        <div class="imagenes">
          <div class="cont-imagen1" *ngFor="let lugar of Lugares; let i = index">
            <div class="imagenes1">
              <div class="cortina"></div>
              <img [src]="imagenes[i]" alt="Imagen del lugar" />
              <div class="capa">
                <div class="titulo">
                  <h2>{{ lugar.NombreLugar }}</h2>
                </div>
                <div class="parrafo">
                  <p>{{ lugar.Descripcion }}</p>
                </div>
                <div class="boton">
                  <button class="reservar-button" [value]="lugar.NombreLugar" (click)="reservarAhora(lugar.NombreLugar)">Reservar Ahora</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ver-reservas-button">
    <button class="ver-reservas-btn">Ver Reservas</button>
  </div>
</div>

