.todo-lugares {
  background: #faf6f5;
  width: 100%;
  position: relative;
  padding-bottom: 45px;
}
/* Ajusta el ancho del contenedor de imágenes para mostrar 3 por fila */
.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes {
  flex-wrap: wrap; /* Para que las imágenes se envuelvan en múltiples filas */
}

.todo-lugares .contenedor-lugares {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.todo-lugares .contenedor-lugares .uno {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  margin-left: -10px;
  margin-right: -10px;
}

.todo-lugares .contenedor-lugares .uno .img-lugares {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes {
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1{
  position: relative;
  display: flex !important;
  width: 30%;
  margin: 5px;
}
.todo-lugares {
  position: relative;
}

.ver-reservas-button {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior según tu preferencia */
  right: 20px; /* Ajusta la distancia desde la derecha según tu preferencia */
  z-index: 999; /* Asegura que esté por encima del contenido */
}

.ver-reservas-btn {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px 20px; /* Ajusta el tamaño del botón según tu preferencia */
  cursor: pointer;
  border-radius: 5px;
}

/* Agrega estilos adicionales según sea necesario */

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1{
  display: flex;
  flex-direction: column;
  position: relative;
  border-color: #ffffff;
  border: solid 10px #ffffff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
  z-index: 1;
  width: 110%;
  height: 115%;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .cortina{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 2;
  transition: all 0.3s;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 img{
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 500ms ease-out;
}

.todo-lugares .contenedor-lugares .uno .lugares {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  padding: 15px;
}

.todo-lugares .contenedor-lugares .uno .lugares h1 {
  position: relative;
  color: #383a4e;
  font-size: 45px;
  font-weight: 800;
  text-align: center;
}

.todo-lugares .contenedor-lugares .uno .lugares p {
  text-align: center;
  color: #64688c;
  font-size: 15px;
  line-height: 1.65;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 30px;
  padding: 0 75px;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .capa{
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: all 500ms ease-out;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .capa .titulo{
  display: flex;
  position: relative;
  justify-content: end;
  margin: 15px 12px 0;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .capa .titulo h2{
  position: relative;
  padding: 9px;
  background: #383a4e;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  color: white;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .capa .parrafo{
  position: relative;
  margin: 10px 15px;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .capa .parrafo p{
  color: white;
  font-size: 15px;
  text-align: center;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .capa .boton{
  display: flex;
  position: relative;
  justify-content: center;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1 .capa .boton button{
  background: #0ecca8;
  padding: 8px;
  border-radius: 15px;
  font-size: 15px;
  color: white;
  font-weight: 700;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1:hover > .cortina{
  visibility: visible;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1:hover > .capa{
  opacity: 1;
  visibility: visible;
}

.todo-lugares .contenedor-lugares .uno .img-lugares .imagenes .cont-imagen1 .imagenes1:hover > img{
  transform: scale(1.3);
}
