<nav class="w-full absolute bg-white border-gray-200 dark:bg-gray-900 z-10">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a href="https://flowbite.com/" class="flex items-center">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >Reserva Tú Viaje</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <a
              href="#"
              class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >About</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Services</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="Home flex flex-col justify-center justify-items-center items-center w-full z-0 relative h-screen bg-no-repeat bg-cover bg-center"
    style="background-image: url(/assets/img/fondo.jpeg)"
  >
    <div id="contenido" class="w-full text-center">
      <h1 class="text-white font-bold text-7xl">
        Bienvenidos a La Estancia Hotel
      </h1>
      <p class="text-[#ECFAFB] font-semibold text-base">
        Tu destino para reconectar
      </p>
    </div>
    <div id="contenedor" class="flex w-full justify-center">
      <div id="cajas" class="flex flex-row w-full justify-center">
        <div id="cajauno" class="w-1/5 py-3.5 px-3.5 bg-white border">
          Reserva Directiva
        </div>
        <div id="cajados" class="w-1/5 py-3.5 px-3.5 bg-white border"></div>
        <div id="cajatres" class="w-1/5 py-3.5 px-3.5 bg-white border">
          Código Promocional
        </div>
        <div id="cajacuatro" class="w-1/5 py-3.5 px-3.5 bg-white border">
          Comprar Disponibilidad
        </div>
      </div>
    </div>
  </div>
  <script src="/carrusel.js"></script>
  <div class="todo-lugares">
    <div class="contenedor-lugares">
      <div class="uno">
        <div class="lugares">
          <h1>La Estancia Hotel te está esperando</h1>
          <p>
            La Estancia es un hotel que busca la comodidad y la tranquilidad
            para que nuestros huéspedes se puedan reconectar. Estando a menos
            de 2 km. de La Laguna de Huacachina, el Oasis de América,
            aprovechamos las bellezas que ofrece el desierto de Ica para que,
            junto con nuestro servicio, nuestros huéspedes tengan una estadía
            inolvidable.
          </p>
        </div>
        <div class="img-lugares">
          <div class="imagenes">
            <div class="cont-imagen1">
              <div class="imagenes1">
                <div class="cortina"></div>
                <img src="/assets/img/uno.jpeg" />
                <div class="capa">
                  <div class="titulo">
                    <h2>Huacachina</h2>
                  </div>
                  <div class="parrafo">
                    <p>
                      Además de comer, tomar algo y pasar la noche en el
                      palmeral, las altas dunas proporcionan un sinfín de
                      opciones para practicar deportes de aventura, en
                      especial el sanboard y los buggies, por lo que, un lugar
                      que debería ser paradisíaco.
                    </p>
                  </div>
                  <div class="boton">
                    <button>Reservar Ahora</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="cont-imagen1">
              <div class="imagenes1">
                <div class="cortina"></div>
                <img src="/assets/img/dos.jpg" />
                <div class="capa">
                  <div class="titulo">
                    <h2>Huacachina</h2>
                  </div>
                  <div class="parrafo">
                    <p>
                      Además de comer, tomar algo y pasar la noche en el
                      palmeral, las altas dunas proporcionan un sinfín de
                      opciones para practicar deportes de aventura, en
                      especial el sanboard y los buggies, por lo que, un lugar
                      que debería ser paradisíaco.
                    </p>
                  </div>
                  <div class="boton">
                    <button>Reservar Ahora</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="cont-imagen1">
              <div class="imagenes1">
                <div class="cortina"></div>
                <img src="/assets/img/tres.jpeg" />
                <div class="capa">
                  <div class="titulo">
                    <h2>Huacachina</h2>
                  </div>
                  <div class="parrafo">
                    <p>
                      Además de comer, tomar algo y pasar la noche en el
                      palmeral, las altas dunas proporcionan un sinfín de
                      opciones para practicar deportes de aventura, en
                      especial el sanboard y los buggies, por lo que, un lugar
                      que debería ser paradisíaco.
                    </p>
                  </div>
                  <div class="boton">
                    <button>Reservar Ahora</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="cont-imagen1">
              <div class="imagenes1">
                <div class="cortina"></div>
                <img src="/assets/img/cuatro.jpg" />
                <div class="capa">
                  <div class="titulo">
                    <h2>Huacachina</h2>
                  </div>
                  <div class="parrafo">
                    <p>
                      Además de comer, tomar algo y pasar la noche en el
                      palmeral, las altas dunas proporcionan un sinfín de
                      opciones para practicar deportes de aventura, en
                      especial el sanboard y los buggies, por lo que, un lugar
                      que debería ser paradisíaco.
                    </p>
                  </div>
                  <div class="boton">
                    <button>Reservar Ahora</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="cont-imagen1">
              <div class="imagenes1">
                <div class="cortina"></div>
                <img src="/assets/img/cinco.jpg" />
                <div class="capa">
                  <div class="titulo">
                    <h2>Huacachina</h2>
                  </div>
                  <div class="parrafo">
                    <p>
                      Además de comer, tomar algo y pasar la noche en el
                      palmeral, las altas dunas proporcionan un sinfín de
                      opciones para practicar deportes de aventura, en
                      especial el sanboard y los buggies, por lo que, un lugar
                      que debería ser paradisíaco.
                    </p>
                  </div>
                  <div class="boton">
                    <button>Reservar Ahora</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="cont-imagen1">
              <div class="imagenes1">
                <div class="cortina"></div>
                <img src="/assets/img/seis.jpg" />
                <div class="capa">
                  <div class="titulo">
                    <h2>Huacachina</h2>
                  </div>
                  <div class="parrafo">
                    <p>
                      Además de comer, tomar algo y pasar la noche en el
                      palmeral, las altas dunas proporcionan un sinfín de
                      opciones para practicar deportes de aventura, en
                      especial el sanboard y los buggies, por lo que, un lugar
                      que debería ser paradisíaco.
                    </p>
                  </div>
                  <div class="boton">
                    <button>Reservar Ahora</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="con-testimonios">
    <div class="fondito"></div>
    <div class="testimonios">
      <div class="titulo">
        <h1>Testimonios</h1>
      </div>
      <div class="cont-tarjetas">
        <a
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Noteworthy technology acquisitions 2021
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
        </a>

        <a
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Noteworthy technology acquisitions 2021
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
        </a>

        <a
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Noteworthy technology acquisitions 2021
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
        </a>

        <a
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Noteworthy technology acquisitions 2021
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
        </a>
      </div>
    </div>
  </div>
  <script src="/assets/js/carrusel.js"></script>